/* INDEX - INICIO */

.textoPresentacion {

    text-align: center;

    font-size: x-large;

    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.fraseDay {

    font-size: 40px;

    color: $color-alternativo;

    padding-top: 20px;


}

.fraseMoti {


    @include alineadoColorSize (center,$color-alternativo,25px);

}


.elejir {

    background-color: #104B53;
    color: white;
    padding: 2.5vh 7.5vh;
    border-radius: 6px;


    font-size: large;
    text-transform: uppercase;
    cursor: pointer;

    text-shadow: 1px 1px 20px;

}

.carousel {

    margin: 0 50px;
    box-shadow: 3px 3px 13px $color-alternativo,-3px -3px 13px $color-alternativo;
    padding: 0px;
}


.imagenIndex {

    height: 55vh;
    width: 100%;
    object-fit: contain;
 

}


.carousel-control-prev{

    color: $color-alternativo;
    opacity: 100%;
    width: 100px;
 
  

}

.carousel-control-prev:hover{

    color: $color-alternativo;
    opacity: 100%;
   

}

.carousel-control-prev:focus{

    color: $color-alternativo;
    opacity: 100%;

}

.carousel-control-next{

    color: $color-alternativo;
    opacity: 100%;
    width: 100px;

}

.carousel-control-next:hover{

    color: $color-alternativo;
    opacity: 100%;

}

.carousel-control-next:focus{

    color: $color-alternativo;
    opacity: 100%;

}






/* INDEX - FIN */