/* MEDIA QUERIES - INICIO */

@media (max-width: 576px) {



    .contenedorDietas {

        grid-template-columns: 1fr;

    }

    .contenedorUbi {

        grid-template-columns: 1fr;


    }


    .achicar {

        width: 75%;

    }



}



@media (min-width: 577px) and (max-width: 1199px) {


    .contenedorDietas {

        grid-template-columns: 1fr 1fr;


    }

    .contenedorUbi {

        grid-template-columns: 1fr;


    }
    
    .achicar {

        width: 75%;

    }


}


@media (max-width: 991px) {

    .texto {

        border: none;
        text-align: end;

    }

 
    
    .carousel {

        margin: 0 0;

    }

    .carousel-control-prev{

        color: $color-alternativo;
        opacity: 100%;
        width: 30px;
     
      
    
    }

    .carousel-control-next{

        color: $color-alternativo;
        opacity: 100%;
        width: 30px;
     
      
    
    }



}


@media (max-width: 660px) {

    .imagenIndex {

        height: 30vh;

    }
    


}

@media (max-height: 360px) {

    


   .navbar-nav {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-content: center;

 
    }

    .navbar-collapse {

        justify-content:center ;
    
    }

    nav {

    font-size: 15px;
    

    }

    .imagenIndex {

        height: 45vh;

    }




}





/* MEDIA QUERIES - FIN */