
/* WPP - INICIO */

.contenedorWpp {

    display: grid;
    justify-content: end;
    position: sticky;
    background-color: red;
    margin-left: 100%;
    z-index: 999;
  

}


.tamañoWpp {

    height: 60px;
    object-fit: contain;
    filter: drop-shadow(0px 0px 5px black);
   
}

.tamañoWpp:hover {

    filter: brightness(108%) drop-shadow(0px 0px 5px black);

}

/* WPP - FIN */